<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://functionappinfostrade.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3451ea6d-0cae-4ed7-a499-d77f8f27ac0c/resourceGroups/PW_Info_Strade_X_Italia/providers/Microsoft.Web/sites/FunctionAppInfoStrade</ResourceId>
    <UserName>$FunctionAppInfoStrade</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functionappinfostrade.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>