@page
@model DeMarchi.InfostradexItalia.WebApp.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@foreach(var t in Model.Traffic)
{
    <div>@t.Description</div>
    <hr />
}